<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="{{photo.photo_130}}">
    <img
      style="float: right;"
      *ngIf="!uploading"
      src="assets/images/loading.gif" />
    <div class="caption">
      <h3>{{photo.date * 1000 | date: 'short'}}</h3>
      <p>{{photo.text}}</p>
      <p>
        <a href="{{photo.url}}"
          class="btn btn-default"
          role="button"
          target="_blank">
          Watch</a>
        <a class="btn btn-default"
          (click)="sendToFlickr()">
          Export to Flickr</a>
      </p>
    </div>
  </div>
</div>
