<div class="container">
  <div class="page-header">
    <h1>VK photo fetch
      <img
        style="float: right;"
        *ngIf="loading"
        src="assets/images/loading.gif" />
    </h1>
  </div>
  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      <spinner [backgroundColor]="'#ff0000'"></spinner>
      <app-fetch-box
        (loading)="loading = $event"
        (photos)="updatePhotos($event)"
        ></app-fetch-box>
    </div>
  </div>
  <div class="row">
    <app-photo
      *ngFor="let photo of photos"
      [photo]="photo">
    </app-photo>
  </div>
</div>
